* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 30, 30);
  margin: 2rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
  form {
    width: 100%;
  }
}

h1{
  text-align: center;
  color: white;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
}

hr{
  margin: 2rem 0;
  border: none;
  border-top: 1px solid rgb(184, 184, 184);
}

form {
  background-color: rgb(255, 255, 255);
  width: 30rem;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input, 
textarea, 
select {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus, 
textarea:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(32, 5, 63);
  border-color: rgb(32, 5, 63);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(32, 5, 63);
  color: white;
  border: 1px solid  rgb(32, 5, 63);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem auto;
}
button:hover{
    background-color: rgb(52, 14, 95);
    border-color: rgb(52, 14, 95);
}

h2{
    margin: 1rem 0;
}

.form-control-inline {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.form-control-inline:hover {
  background-color: rgb(240, 240, 240);
}


section {
  padding: 1rem;
  border-radius: 6px;
}

section h2 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}



section ul{
    margin: 0;
}

.form-control-inline input{
  width: auto;
}